* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

p {
  margin: 24px 0;
  line-height: 1;
}

.wrapper {
 
  padding: 32px;
}

.cookie-container {
  position: fixed;
  
  height: 200px;
  width: 100%;
  left: 600px;
 bottom: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
 
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);

  transition: 400ms;
}

.cookie-container.active {
  position: fixed;
  
  bottom: 0%;
  
}

.cookie-container a {
  color: #f5f6fa;

}

.cookie-btn {
 
 
  background: #e84118;
  height: 50px;
  width: 200px;
 
  border: 0;
  color: #f5f6fa;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}


@media screen and (max-width:781px){}