

header{


    
    max-width: 100%;
    min-width: 20%;
    width:100% ;
    height: 90px;
    background: #e05656;
    padding: 10px 781px;
}





body{background-color:  #C8D8D9;
    max-width: 100%;
    min-width: 10%;
    max-height: 100%;
    min-height: 10%;
 

}





a{text-decoration: none;
    
    
    font-family:'PT Serif', serif ;}



.footer-links{font-family: serif;}




.titulo-pag{position: absolute;
    
font-family:'Pacifico', cursive ;
top: 15%;
    left:34%;
    font-size: 70px;


}

.img-logo{position: absolute;
    left: 42%;
    top: 38%;

}



.sobre-nosotros{position: absolute;
    font-family:'PT Serif', serif ;
    text-decoration: none;
   
    color: black;
    bottom: 10%;
    left: 30%;


}
.contacto{position: absolute;
  
    bottom: 10%;
    left: 62%;
    text-decoration: none;

 ;
color: black;

}

.intame-cafe{
   
    position: absolute;
    font-family:'PT Serif', serif ;
    left: 630px;
    bottom:10%;

  
color: black;}

.posicion-compani{position: absolute;
    width: 200px;

    bottom: 10px;
    left: 600px;

    font-family:'PT Serif', serif ;


}



.style-letrafooter{font-family:'PT Serif', serif ;  }





@media screen and (max-width:781px){ 



    header{


    
        max-width: 100%;
        min-width: 20%;
        width:100% ;
        height: 90px;
        background: #e05656;
        padding: 50px 781px;
    }
    
    


    .titulo-pag{position: absolute;
    
        font-family:'Pacifico', cursive ;
        top: 15%;
            left:620px;
            font-size: 70px;
        
        
        }
        

        .img-logo{position: absolute;
            left: 700px;
            top: 38%;
        
        }





        .sobre-nosotros{position: absolute;
            width: 200px;
            font-family:'PT Serif', serif ;
            text-decoration: none;
           
            color: black;
            bottom: 100px;
            left: 670px;
        
        
        }
        .contacto{position: absolute;
            font-family:'PT Serif', serif ;
          bottom: 78px;
            
            left:890px;
            text-decoration: none;
        
         ;
        color: black;
        
        }
        
        .intame-cafe{
           
            position: absolute;
            font-family:'PT Serif', serif ;
            left: 580px;
            bottom: 100px;
          
        
          
        color: black;}
        
        
        .style-letrafooter{position: absolute;
        
       top:0px;
        
             left: 70px;
           
            font-family:'PT Serif', serif ;
        }
        

.posicion-compani{position: absolute;
    width: 200px;

    bottom: 10px;
    left: 720px;

    font-family:'PT Serif', serif ;


}



  }